body {
	font-family: Sans-serif;
	color: MidnightBlue;
	background-color: white;
}

.viz {
	display:inline-block;
	margin-top: 10px;
}
#svg-col{
	height: 800px;
	overflow:scroll;
}
#svg-leg {
	margin: 10px;
	border: 2px solid MidnightBlue;
	padding: 5px;
	text-align: center;
	float: right;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#container{
	margin-top: 60px;
}
#container p{
	color: MidnightBlue;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: MidnightBlue;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
li {
	float: left;
	margin-left: 10px;
}
li a {
	display: inline-block;
	color: CornflowerBlue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight:bold;
}
li a:hover:not(.active) {
	background-color: YellowGreen;
	color: Green;
}
.active {
	background-color: DarkOrange;
	color: DarkRed;
	font-weight: bolder;
}
#topMenu p {
	color: white;
	font-style: italic;
}
#introPanel {
	width: 100%;
	height: 690px;
	margin: auto;
	background-image: url("bkg_index.PNG");
	margin-top: 60px;
	text-align: center;
}
.legendTitle{
	font-size: 30px;
	font-weight:bold;
	color: MidnightBlue;
}
.legendText{
	font-size: 20px;
	color: MidnightBlue;
}
.title{
	margin:auto;
	text-align:center;
	font-style: italic;
}
form div{
	display: inline-block;
	margin-left:5px;
	margin-bottom: 5px;
	text-align:center;
}
#formContainer{
	border: 1px solid #ccc;
}
#welcomeText h2{
	font-size: 80px;
}
#welcomeText h1{
	font-size: 150px;
	padding :-100px;
}
#welcomeText{
	position:relative;
	top: 50px;
	background-color: MidnightBlue;
	border-radius:20px;
	width: 60%;
	height: 400px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
	color:white;
	min-width: 800px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
.button{
	display: inline-block;
	background-color:MidnightBlue;
	border-radius:10px;
	margin: auto;
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	position: relative;
	top: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
.button a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
	font-size: 20px;
}
.button:hover{
	background-color: DarkOrange;
}
.button a:hover{
	color: DarkRed;
}
#aboutAuthors p, #aboutFrick p{
	color: MidnightBlue;
}
#aboutAuthors{
	margin-top: 60px;
	text-align: center;
}
#aboutAuthors div img{
	display: inline-block;
	margin: auto;
	width : 180px;
	height: 200px;
}
#authorPics{
	display: inline;
	text-align: center;
}
#artImages img{
	display: inline-block;
	border: 2px solid MidnightBlue;
	width: 200px;
	height:250px;
	margin: auto;
}
#aboutFrick{
	clear: right;
}
.imageGallery {
	margin: 5px;
	border: 1px solid MidnightBlue;
	float: left;
	width: 300px;
}
.imageGallery:hover {
	border: 1px solid YellowGreen;
}
.imageGallery img{
	width: 100%;
	height: 300;
}
.imageDesc{
	padding: 15px;
	text-align: center;
}
